apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: main-ingress-route
spec:
  entryPoints:
    - web
  routes:
    # This rule handles Metabase. It has a high priority and uses the stripprefix middleware.
    - match: PathPrefix(`/metabase`)
      kind: Rule
      priority: 15
      services:
        - name: metabase-service
          port: 3000
      middlewares:
        - name: metabase-stripprefix

    # This rule handles Grafana. It has a medium priority.
    - match: PathPrefix(`/grafana`)
      kind: Rule
      priority: 10
      services:
        - name: grafana-service
          port: 3000

    # This is the fallback rule for the frontend. It has the lowest priority.
    - match: PathPrefix(`/`)
      kind: Rule
      priority: 5
      services:
        - name: frontend
          port: 80