apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: plotlisting-ingress
spec:
  rules:
  - http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: frontend
            port: # if the frontend service uses port 6002, change this to 6002
              number: 80
      - path: /api/listings
        pathType: Prefix
        backend:
          service:
            name: listing-service
            port: # the listing service uses port 6000
              number: 80
      - path: /api/inquiries
        pathType: Prefix
        backend:
          service:
            name: inquiry-service
            port:
              number: 80