apiVersion: v1
kind: Service
metadata:
  name: listing-service
  namespace: plot-listing
spec:
  selector:
    app: listing-service
  ports:
    - protocol: TCP
      port: 3000
      targetPort: 3000