apiVersion: apps/v1
kind: Deployment
metadata:
  name: listing-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: listing-service
  template:
    metadata:
      labels:
        app: listing-service
    spec:
      containers:
      - name: listing-service
        image: yourname/listing-service:latest
        env:
        - name: DB_HOST
          value: "postgres"
        - name: DB_USER
          value: "admin"
        - name: DB_PASSWORD
          value: "password123"
        - name: DB_NAME
          value: "plotlisting"
        - name: DB_SCHEMA
          value: "listing"
        ports:
        - containerPort: 3000